<% if Rails.env.development? %>
  <script type="text/javascript" src="https://js.stripe.com/v2/stripe-debug.js"></script>
<% else %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<% end %>
    
<div class="checkout-bg">
  <div class= "container-fluid checkout-width">
    <div class="checkout_block">
      <div class="sidebar_checkout">
      	<div class="sidebar_checkout-payment" style="padding: 10px">
	        <h2 style="padding: 0px; font-size: 18px">Booking Summary</h2>
	        <table class="payment-table">
	          <tr id="subtotal" >
	            <td >
	              <p >Subtotal</p>
	            </td>
	            <td><p id="subtotal">$119</p></td>
	          </tr>

	          
	          <tr>
	            
	            <td ><p><strong>Total</strong></p></td>
	            <td><p id="total"><strong>$119</strong></p></td>
	          </tr>
	        </table>
        </div>
        <br/>
       	<div class="faq hidden-sm hidden-md hidden-xs">
       		<h2 class="faq-h2">FAQ</h2>
       			<p class="faq-text">What is your cancellation policy?</p>
            <p class="faq-subtext">Cancel anytime 24 hours prior to your appointment.  Cancellations after the 24 hour period will be assessed a $15 fee.</p>
            <p class="faq-text">Who will service my lawn?</p>              
            <p class="faq-subtext">We have a large network of landscaping professionals.  Each professional is required to keep minimm ratings in our system so although we can't ensure which lawn care professional will stop by, we can ensure premium service.</p>
            <p class="faq-text">I have a few more questions.</p>
            <p class="faq-subtext">Feel free to give us a call at (480) 418-5296</p>
       		</ul>

       	</div> 
      </div>
      <div class="main_content_checkout">
        <%= form_for @appointment do |f| %>

          <h2 style="padding: 0px; font-size: 30px">Complete Your Booking</h2>
            
            <%= f.hidden_field( :amount, class: "payment_input width-3", id: "var_total" )%>
          <p class="field" %>
              <label class="payment_label">Email</label>
              <%= f.text_field( :email, class: "payment_input width-3" )%>
          </p>
          
          <p class="field" %>
            <label class="payment_label">Appointment Date</label>
            <%= f.date_field( :appointment_date, class: "payment_input width-3", id: "date" )%>
          </p> 
          <div class="section-line"></div>
          <h2>Choose Your Service</h2>
          <p class="field" %>
            <label class="payment_label">Tell us About Your Home</label></p> 
            <%= f.select( :appointment_type, options_for_select([["Studio: $119", 119], ["One Bedroom: $129", 129], ["Two Bedroom: $139", 139], ["Three Bedroom: $159", 159],["Four Bedroom: $189", 189], ["Five Bedroom: $219", 219], ["Six Bedroom: $249", 249]]),class: "payment_input width-3 select_option", id: "apartment" )%>
          

          <div class="section-line"></div>
          <h2>How Often?</h2>
          <p class="field" %>
            <label class="payment_label">Cancel or Reschedule Anytime!  The More Frequent Your Cleanings the Deeper the Discount we can offer!</label>

            <div class="radio-buttons">
              <%= f.radio_button( :appointment_frequency, "onetime", checked: true)%>
              <%= f.label( :appointment_frequency_onetime, "One Time")%>


              <%= f.radio_button( :appointment_frequency, "monthly")%>
              <%= f.label( :appointment_frequency_monthly, "Monthly")%>
              
              <%= f.radio_button( :appointment_frequency, "weekly")%>
              <%= f.label( :appointment_frequency_weekly, "Weekly")%>
              
              <%= f.radio_button( :appointment_frequency, "biweekly")%>
              <%= f.label( :appointment_frequency_biweekly, "Bi-Weekly")%>
            </div>
            <br/>
          </p> 



          <div class="section-line"></div>

          <h2>Address</h2>         
          <div class="customer-section">
         
            <div class="payment_float">
              <p class="field" %>
                <label class="payment_label">Address</label>
                <%= f.text_field(:address_line_1, class: "payment_input width-2 ") %>
              </p>
            </div>
              <p class="field" %>
                <label class="payment_label">Suite/APT</label>
                <%= f.text_field(:address_line_2, class: "payment_input width-4 ") %>
              </p>

            <div class="payment_float">
              <p class="field" %>
                <label class="payment_label">City</label>
                <%= f.text_field(:city, class: "payment_input width-4") %>
              </p>
            </div>
            <div>
              <p class="field" %>
                <label class="payment_label">State</label>
                <%= f.text_field(:state, class: "payment_input width-4 ") %>
              </p>
            </div>

              <p class="field" %>
                <label class="payment_label">Phone Number</label>
                <%= f.text_field(:phone_number, class: "payment_input width-2 ") %>
              </p>
            </div>


           <p class="field">
              <%= f.hidden_field(:coupon_code, class: "payment_input width-2", id: "coupon_code") %>
            </p>

          </br>
          <h2 style="padding: 0px; font-size: 30px">Billing Info</h2>
          <div class="section-line" id="billing">
             <p class="field" data-hook="card_number">
             	<img src="/images/credit_card.png" style="width:100%">
                <div class="payment_label">Card Number</div>
                <% options_hash = Rails.env.production? ? {:autocomplete => 'off'} : {} %>
                <%= text_field_tag "card_number", '', options_hash.merge(:id => 'card_number', :class => 'required cardNumber payment_input width-3', :size => 19, :maxlength => 19, :autocomplete => "off") %>
              </p>
              <div class="payment_float">
                  <div class="payment_label">Card Expiration</div>
                  <span><%= text_field_tag "card_expiry_month", '', :id => 'card_expiry_month', :class => "required cardExpiryMonth payment_input width-4", :placeholder => "MM", maxlength: 2 %></span>
	              <span><%= text_field_tag "card_expiry_year", '', :id => 'card_expiry_year', :class => "required cardExpiryYear payment_input width-4", :placeholder => "YY", maxlength: 2 %></span>
              </div>
              <p class="field" data-hook="card_code">
                <div class="payment_label">Card Code</div>
                <%= text_field_tag "card_code", '', options_hash.merge(:id => 'card_code', :class => 'required cardCode payment_input', :size => 5) %>
              </p>
           </div><br/>

          <%= f.submit "Place Appointment", class: 'continue' %>
          <p>*You'll be billed on the day of your appointment.  Cancel anytime.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <script>
    var preAdjustmentTotal = $('#apartment option:selected').val();

    $('#appointment_appointment_type').change(function() {
      var appointment_type = $('#appointment_appointment_type option:selected').val();
      var frequency = $('.radio-buttons :checked').val()

      if (frequency === 'onetime') {
        multiple = 1
      } else if (frequency === 'monthly') {
        multiple = 0.9
      } else if (frequency === 'biweekly') {
        multiple = 0.8
      } else if (frequency === 'weekly') {
        multiple = 0.75 }

      var discounted_amount = appointment_type * multiple 
      var discounted_amount = Math.floor(discounted_amount*100)/100

      $('#var_total').val(discounted_amount);

      $(".payment-table").find("tr").remove();

      
        $('<tr><td><p>Subtotal</p></td><td><p>$' + discounted_amount + '</p></tr><tr><td ><p><strong>Total</strong></p></td><td><p><strong>$' + discounted_amount +'</strong></p></td></tr>').appendTo('.payment-table');
      
    });
  </script>



    <script>stripePaymentMethod = $('#billing')</script>
    <script type="text/javascript">
      Stripe.setPublishableKey('pk_test_Fi31dPqZ9H6ZVLIfUD8mjD4j');
    </script>