<% if Rails.env.development? %>
  <script type="text/javascript" src="https://js.stripe.com/v2/stripe-debug.js"></script>
<% else %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<% end %>
    
<div class="checkout-bg">
  <div class= "container-fluid checkout-width">
    <div class="checkout_block">
      <div class="sidebar_checkout">
      	<div class="sidebar_checkout-payment" style="padding: 10px">
	        <h2 style="padding: 0px; font-size: 18px">Booking Summary</h2>
	        <table class="payment-table">
	          <tr id="subtotal" >
	            <td >
	              <p >Subtotal</p>
	            </td>
	            <td><p id="subtotal">$119</p></td>
	          </tr>

	          
	          <tr>
	            
	            <td ><p><strong>Total</strong></p></td>
	            <td><p id="total"><strong>$119</strong></p></td>
	          </tr>
	        </table>
        </div>
        <br/>
       	<div class="faq hidden-sm hidden-md hidden-xs">
       		<h2 class="faq-h2">About Us</h2>
       			<p class="faq-text">Friendly Service</p>
            <p class="faq-subtext">Fast and friendly customer service. We will get back to your emails and phone calls within an hour during normal business timings.</p>
            <p class="faq-text">We Provide Supplies</p>              
            <p class="faq-subtext">No vacuum? Ran out of windex? No problem! Our cleaners provide cleaning equipment and supplies</p>
            <p class="faq-text">Safe Shopping</p>
            <p class="faq-subtext">Industry leading 256-bit SSL encryption. Our security practices are monitored and verified</p>
            <p class="faq-text">Insured</p>
            <p class="faq-subtext">You are in good hands with our Super Maids. Rest assured that we are fully insured.</p>
            <p class="faq-text">5 Star Customer Rated</p>
            <p class="faq-subtext">Arizona’s top rated cleaning service for a reason!</p>
       		</ul>

       	</div> 
      </div>
      <div class="main_content_checkout">
        <%= form_for @appointment do |f| %>

          <h2 style="padding: 0px; font-size: 30px">Complete Your Booking</h2>
            
            <%= f.hidden_field( :amount, class: "payment_input width-3", id: "var_total" )%>
          <p class="field" %>
              <label class="payment_label">Email</label>
              <%= f.text_field( :email, class: "payment_input width-3" )%>
          </p>
          
          <p class="field" %>
            <label class="payment_label">Appointment Date</label>
            <%= f.date_field( :appointment_date, class: "payment_input width-3", id: "date" )%>
          </p> 
          <div class="section-line"></div>
          <h2>Choose Your Service</h2>
          <p class="field" %>
            <label class="payment_label">Tell us About Your Home</label></p> 
            <%= f.select( :appointment_type, options_for_select([["Studio: $119", 1], ["One Bedroom: $129", 129], ["Two Bedroom: $139", 139], ["Three Bedroom: $159", 159],["Four Bedroom: $189", 189], ["Five Bedroom: $219", 219], ["Six Bedroom: $249", 249]]),class: "payment_input width-3 select_option", id: "apartment" )%>
          

          <div class="section-line"></div>
          <h2>How Often?</h2>
          <p class="field" %>
            <label class="payment_label">Cancel or Reschedule Anytime!  The More Frequent Your Cleanings the Deeper the Discount we can offer!</label>
            <div class="container-fluid">
              <div class="radio-buttons">
                <%= f.radio_button( :appointment_frequency, "onetime", checked: true)%>
                <%= f.label( :appointment_frequency_onetime, "One Time")%>


                <%= f.radio_button( :appointment_frequency, "monthly")%>
                <%= f.label( :appointment_frequency_monthly, "Monthly")%>
                

                <%= f.radio_button( :appointment_frequency, "biweekly")%>
                <%= f.label( :appointment_frequency_biweekly, "Bi-Weekly")%>

                <%= f.radio_button( :appointment_frequency, "weekly")%>
                <%= f.label( :appointment_frequency_weekly, "Weekly")%>
                
              </div>
            </div>
          <div class="section-line"></div>
          <h2>Extras?</h2>
          <p class="field" %>
            <label class="payment_label">Add extra services</label>
            <div class="container-fluid">
              <div class="row">
                <div class="extra-option col-sm-3 col-xs-4">
                  <div class="extra-icon deep-cleaning"></div>
                  <center>
                  <%= f.label(:deep_clean) %>
                  <%= f.check_box(:deep_clean) %>
                  </center>
                </div>
              <div class="extra-option col-sm-3 col-xs-4">
                  <div class="extra-icon deep-cleaning"></div>
                  <center>
                  <%= f.label(:inside_fridge) %>
                  <%= f.check_box(:inside_fridge) %>
                  </center>
                </div>
      
              <div class="extra-option col-sm-3 col-xs-4">
                  <div class="extra-icon deep-cleaning"></div>
                  <center>
                  <%= f.label(:inside_oven) %>
                  <%= f.check_box(:inside_oven) %>
                  </center>
              </div>

              <div class="extra-option col-sm-3 col-xs-4">
                  <div class="extra-icon deep-cleaning"></div>
                  <center>
                  <%= f.label(:inside_windows) %>
                  <%= f.check_box(:inside_windows) %>
                  </center>
              </div>
              
              <div class="extra-option col-sm-3 col-xs-4">
                  <div class="extra-icon deep-cleaning"></div>
                  <center>
                  <%= f.label(:walls) %>
                  <%= f.check_box(:walls) %>
                  </center>
              </div>

              <div class="extra-option col-sm-3 col-xs-4">
                  <div class="extra-icon deep-cleaning"></div>
                  <center>
                  <label>Moving </span></label>
                  <%= f.check_box(:move_inout) %>
                  </center>
              </div>
            </div>
          </p> 



          <div class="section-line"></div>

          <h2>Address</h2>         
          <div class="customer-section">
         
            <div class="payment_float">
              <p class="field" %>
                <label class="payment_label">Address</label>
                <%= f.text_field(:address_line_1, class: "payment_input width-2 ") %>
              </p>
            </div>
              <p class="field" %>
                <label class="payment_label">Suite/APT</label>
                <%= f.text_field(:address_line_2, class: "payment_input width-4 ") %>
              </p>

            <div class="payment_float">
              <p class="field" %>
                <label class="payment_label">City</label>
                <%= f.text_field(:city, class: "payment_input width-4") %>
              </p>
            </div>
            <div>
              <p class="field" %>
                <label class="payment_label">State</label>
                <%= f.text_field(:state, class: "payment_input width-4 ") %>
              </p>
            </div>

              <p class="field" %>
                <label class="payment_label">Phone Number</label>
                <%= f.text_field(:phone_number, class: "payment_input width-2 ") %>
              </p>
            </div>


           <p class="field">
              <%= f.hidden_field(:coupon_code, class: "payment_input width-2", id: "coupon_code") %>
            </p>

          </br>
          <h2 style="padding: 0px; font-size: 30px">Billing Info</h2>
          <div class="section-line" id="billing">
             <p class="field" data-hook="card_number">
             	<img src="/images/credit_card.png" style="width:100%">
                <div class="payment_label">Card Number</div>
                <% options_hash = Rails.env.production? ? {:autocomplete => 'off'} : {} %>
                <%= text_field_tag "card_number", '', options_hash.merge(:id => 'card_number', :class => 'required cardNumber payment_input width-3', :size => 19, :maxlength => 19, :autocomplete => "off") %>
              </p>
              <div class="payment_float">
                  <div class="payment_label">Card Expiration</div>
                  <span><%= text_field_tag "card_expiry_month", '', :id => 'card_expiry_month', :class => "required cardExpiryMonth payment_input width-4", :placeholder => "MM", maxlength: 2 %></span>
	              <span><%= text_field_tag "card_expiry_year", '', :id => 'card_expiry_year', :class => "required cardExpiryYear payment_input width-4", :placeholder => "YY", maxlength: 2 %></span>
              </div>
              <p class="field" data-hook="card_code">
                <div class="payment_label">Card Code</div>
                <%= text_field_tag "card_code", '', options_hash.merge(:id => 'card_code', :class => 'required cardCode payment_input', :size => 5) %>
              </p>
           </div><br/>
          <div id="finalprice"><p>Final Price: <strong>$0.00</strong></p></div>
          <%= f.submit "Place Appointment", class: 'continue' %>
          <p>*You'll be billed on the day of your appointment.  Cancel anytime.</p>
        <% end %>
      </div>
    </div>
  </div>
</div><br/>

    <script>
    var preAdjustmentTotal = $('#apartment option:selected').val();

    $('#appointment_appointment_type').change(function() {
      calculate()
    });

    $('.radio-buttons').change(function() {
      calculate()
    });

    $('.extra-option').change(function() {
      calculate()
    });

    function calculate() {
      var appointment_type = $('#appointment_appointment_type option:selected').val();
      var frequency = $('.radio-buttons :checked').val()
      var multiple
      var deep_clean
      var inside_fridge
      var inside_oven
      var inside_windows
      var walls
      var move
      var discounted_amount
      var total

      if (frequency === 'onetime') {
        multiple = 1
      } else if (frequency === 'monthly') {
        multiple = 0.9
      } else if (frequency === 'biweekly') {
        multiple = 0.85
      } else if (frequency === 'weekly') {
        multiple = 0.8 };

      
      deep_clean = $('#appointment_deep_clean').is(':checked') ? 60 : 0;
      inside_fridge = $('#appointment_inside_fridge').is(':checked') ? 25 : 0;
      inside_oven = $('#appointment_inside_oven').is(':checked') ? 25 : 0; 
      inside_windows = $('#appointment_inside_windows').is(':checked') ? 25 : 0;
      walls = $('#appointment_walls').is(':checked') ? 25 : 0;
      move = $('#appointment_move_inout').is(':checked') ? 60 : 0;

      total = parseFloat(appointment_type) + deep_clean + inside_fridge + inside_oven + inside_windows + walls + move

      discounted_amount = total * multiple 
      
      discounted_amount = Math.floor(discounted_amount*100)/100
      


      $('#var_total').val(discounted_amount);

      $(".payment-table").find("tr").remove();

      $("#finalprice").find("p").remove();

      
      $('<tr><td><p>Subtotal</p></td><td><p>$' + discounted_amount + '</p></tr><tr><td ><p><strong>Total</strong></p></td><td><p><strong>$' + discounted_amount +'</strong></p></td></tr>').appendTo('.payment-table');

      $('<p>Final Price: <strong>$' + discounted_amount + '</strong></p>').appendTo('#finalprice');

      };
      </script>


    <script>stripePaymentMethod = $('#billing')</script>


    <% if Rails.env.development? %>
      <script type="text/javascript">Stripe.setPublishableKey('pk_test_Fi31dPqZ9H6ZVLIfUD8mjD4j');</script>
    <% else %>
      <script type="text/javascript">Stripe.setPublishableKey('pk_live_m8xwDf5bWjQ12Cv6mlNHQEUV');</script>
    <% end %>
