<!DOCTYPE html>
<html>
<head>
  <title><%= @title ? @title : "Phoenix Landscaping Professionals" %></title>
  <meta name="google-site-verification" content="stNIhVXwwlXlKy-s08I830vRlBu-neXEk3JFEh_80Ec" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' unless @noheader %>
	<%= yield %>
	<%= render 'layouts/footer' unless @nofooter %>


</body>
</html>
