<!DOCTYPE html>
<html>
<head>
  <title><%= @title ? @title : "Tempe's Cookie Delivery.  Get Warm HomeMade Cookies Delivered in 20 Minutes or Less" %></title>
    
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
  <meta name="google-site-verification" content="ayYL572SgD839vkJdaxSVwc9SHOM9fUNXnVlRh81tb8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="application/ld+json">
  {"@context":"http:\/\/schema.org","@type":"WebSite","url":"https:\/\/www.maidfox.com\/","name":"Maid Fox | House Cleaning Maid Services","alternateName":"House Cleaning | Maid Fox","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.maidfox.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}
  </script>

  <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "name": "Cookie Devilss",
    "sameAs" : [
    ],
    "address": {
    "@type": "PostalAddress",
    "streetAddress": "",
    "addressLocality": "",
    "addressRegion": "",
    "postalCode": ""
    },
    "telephone": "480-360-6243",
    "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "5",
    "bestRating": "5",
    "reviewCount": "2"
    }
    }
  <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PQZLXL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PQZLXL');</script>
<!-- End Google Tag Manager -->
</script>
</head>
<body>
	<%= render 'layouts/header' unless @noheader %>
	<%= yield %>
	<%= render 'layouts/footer' unless @nofooter %>


</body>
</html>
