<!DOCTYPE html>
<html>
<head>
  <title><%= @title ? @title : "Scottsdale Maid Cleaning Service.  Maid Cleaning for the Scottsdale, Mesa, Tempe and Phoenix Metro Area" %></title>
    
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
  <meta name="google-site-verification" content="ayYL572SgD839vkJdaxSVwc9SHOM9fUNXnVlRh81tb8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="application/ld+json">
  {"@context":"http:\/\/schema.org","@type":"WebSite","url":"https:\/\/www.maidfox.com\/","name":"Maid Fox | House Cleaning Maid Services","alternateName":"House Cleaning | Maid Fox","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.maidfox.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}
  </script>

  <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "name": "Maid Fox",
    "sameAs" : [
    "https://plus.google.com/114537470088336522010",
    "https://twitter.com/maid_fox",
    "https://instagram.com/maid_fox"
    ],
    "address": {
    "@type": "PostalAddress",
    "streetAddress": "4437 N 30th Dr Ste 101",
    "addressLocality": "Phoenix",
    "addressRegion": "AZ",
    "postalCode": "85017"
    },
    "telephone": "480-360-6243",
    "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "5",
    "bestRating": "5",
    "reviewCount": "2"
    }
    }
</script>
</head>
<body>
	<%= render 'layouts/header' unless @noheader %>
	<%= yield %>
	<%= render 'layouts/footer' unless @nofooter %>


</body>
</html>
